* {
 font-family: Arial, Helvetica, sans-serif;
 color: rgb(26, 194, 166);
}

body{
  padding: 60px;
  background-color: black;
}

input{
  font-family: cursive;
  font-size: 1.3rem;
  width: 60%;
  color: darkmagenta;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid cyan;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;

}


.card p {
  padding: 5px;
  text-align: center;
  color: rgb(5, 199, 167);
}

.card img {
  max-height: 170px;
}